<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="client-list-menu"/>
		<item label="Reconfigure WM">
			<action name="Reconfigure"/>
		</item>

		<item label="Exit System">
		    <action name="Execute">
			<execute>
			    oblogout
			</execute>
		    </action>
		</item>
	</menu>
</openbox_menu>
